//Media Queries

.header {
  @media (max-width: 767.98px) {
    .custom-header {
      justify-content: normal !important;
      .logo-text {
        width: calc(100% - 30px);
        // text-align: center;
        a {
          display: inline-block;
        }
      }
    }
  }
  @media (max-width: 991.98px) {
    .custom-header {
      justify-content: normal !important;
      .logo-text {
        width: calc(100% - 30px);
        // text-align: center;
        a {
          display: inline-block;
        }
      }
    }
  }
}


