<h2 class="text-center" > Now, you are ready and can Test Verified Certifcate</h2>
<div>
   
    
</div>



<div id="content" class="pl-5 py-5 lh-base">
    <p class="p16 fw-bold"> Saved VC Template </p>
    <div class="card p-4">
        <div class="row">
        <div class="card col-sm-3 ml-2">
            <button type="button" class="btn_img border-0" (click)="testAndVerify()">
                <img [src] ="linkImage" alt="To be inserted" width="100%"> 
            </button>
            <button type= "button" class="btn btn-light" (click)="testAndVerify()"> Vaccination Certificate</button>
        </div>
        <!-- <div class=" card col-sm-3">
            <img [src] ="fixedImage" alt="To be inserted">
            <p>Proof of Experience</p>
        </div></div> -->
    </div>
    <p class="p16 fw-bold">Explore APIs</p>
    <div class="card p-4 lh-base">
        ***Links to be inserted here for Explore APIs***
    </div>
</div>