<h2 class="text-center pt-3" > Now, you are ready and can Test Verified Certifcate</h2>
<div id="content" class="pl-5 py-5 lh-base">
    <p class="p16 fw-bold pb-1"> Saved VC Template </p>
    <div class="card p-4">
       
            <div>
            <a type="button" class="btn_img border-0 p-3" (click)="testAndVerify()">
                <img style=" border: 1px solid #d7d5d5;" [src] ="linkImage" alt="To be inserted" width="130px" height="190px"> 
            </a>
        </div>
        <!-- <div class=" card col-sm-3">
            <img [src] ="fixedImage" alt="To be inserted">
            <p>Proof of Experience</p>
        </div></div> -->
    <a type= "button" class="pt-1 fw-bold" (click)="testAndVerify()"> Vaccination Certificate</a>
</div>
<p class="p16 mt-3 fw-bold">Explore APIs</p>
<div class="card p-4 lh-base">
   <div class="ps-2">
    ***Links to be inserted here for Explore APIs***
   </div>
</div>