<div id="content">
    <div class="p-4">
        <h4>Configuring Workflows</h4>
        <p class="mt-3"><b>Attestation Workflow</b></p>

        <div class="card p-4">

            <select class="custom-dropdown">
                <option value="volvo" class="clr-grey">Student</option>
                <option value="audi" class="clr-grey">Student</option>
            </select>
            <p><b>Select Issuance System</b></p>
            <label>
                <input type="radio" name="radio" checked /> &nbsp;
                Sunbird RC Issuance system
            </label>

            <label>
                <input type="radio" name="radio" />&nbsp;
                External System &nbsp;
                <!-- <select class="custom-dropdown ml-240">
                    <option value="volvo" class="clr-grey">Select URI Supported Plugin</option>
                    <option value="audi" class="clr-grey">Select URI Supported Plugin</option>
                </select> -->
                <input class="custom-dropdown ml-240" type="url" placeholder="Select URI or supported plugins">
            </label>

            <hr class="custom-hr">

            <div class="d-flex">


                <label>
                    <input type="radio" name="radio" />
                    Auto attestation

                    <input type="radio" name="radio" class="ml-40" />
                    Manual attestation
                </label>
            </div>

            <p class="mt-2 mb-0">
                <b>Entity</b>
                <b class="ml-240">Attestor</b>
            </p>

            <div class="mt-0 mb-3">
                <select class="custom-dropdown">
                    <option value="volvo" class="clr-grey">Student</option>
                    <option value="audi" class="clr-grey">Student</option>
                </select>
                <label class="ml-13">Attested By</label>
                <select class="custom-dropdown ml-40">
                    <option value="volvo" class="clr-grey">Teacher</option>
                    <option value="audi" class="clr-grey">Student</option>
                </select>
            </div>
            <div class="card p-3 clr-grey2">
                <p><b>Conditions for attestation</b></p>
                <div class="mt-0 mb-3">
                    <select class="custom-dropdown">
                        <option value="volvo" class="clr-grey">Student</option>
                        <option value="audi" class="clr-grey">Student</option>
                    </select>
                    <label class="ml-13">Attested By</label>
                    <select class="custom-dropdown ml-40">
                        <option value="volvo" class="clr-grey">Teacher</option>
                        <option value="audi" class="clr-grey">Student</option>
                    </select>
                </div>
                <span class="m-3 p14 submit-button clr-blue">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add Condition
                </span>

            </div>
            <span class="m-3 p14 submit-button clr-blue">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add Next Attestor
            </span>

            <button class="m-3 p14 plus-btn btn btn-sec-bg submit-button text-secondary-color"><i class="fa fa-plus"
                    aria-hidden="true"></i> Add Workflow
            </button>

            <!-- <div class="newDiv">

            </div> -->

        </div>
    </div>
</div>