.custom-dropdown {
  width: 250px;
  height: 45px;
  color: #8d9091;
  border-radius: 4px 4px 4px 4px;
  background-color: #ffffff;
  margin-left: 15px;
  border-color: rgb(231, 229, 229);
}
.close-icon {
  border-radius: 50%;
  padding: 5px 9px;
  border: 1px solid #666;
}
.custom-container-edit {
  background-color: #f6f8fc;
  margin-top: 0px !important;
  margin-left: 0px !important;
  height: auto;
  padding: 10px;
}
.custom-container-attester {
  background-color: #f6f8fc;
  margin-top: 0px !important;
  margin-left: 0px !important;
  height: auto;
}
.custom-dropdown-attester {
  width: 26%;
  height: 45px;
  color: #8d9091;
  border-radius: 4px 4px 4px 4px;
  background-color: #ffffff;
  padding: 10px;
  border-color: rgb(231, 229, 229);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-dropdown-attester-w-auto {
  width: auto;
  height: 45px;
  color: #8d9091;
  border-radius: 4px 4px 4px 4px;
  background-color: #ffffff;
  padding: 10px;
  border-color: rgb(231, 229, 229);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-dropdown-attester-details {
  width: auto;
  height: 45px;
  color: #8d9091;
  border-radius: 4px 4px 4px 4px;
  background-color: #ffffff;
  border-color: rgb(231, 229, 229);
}
.custom-dropdown2 {
  width: 143px;
  height: 45px;
  color: #8d9091;
  border-radius: 4px 4px 4px 4px;
  background-color: #ffffff;
}
