.custom-dropdown{
    width: 250px;
    height: 45px;
    color: #8D9091;
    border-radius: 4px 4px 4px 4px;
    background-color: #FFFFFF;

}

.clr-grey{
    color: #8D9091;
}

.ml-40{
    margin-left: 40px;
}

.ml-240{
    margin-left: 210px;
}

.custom-hr{
    color:#EFEFEF;
    height: 1px;
}

.ml-360{
    margin-left: 360px;
}

.ml-13{
    margin-left: 13px;
}

.custom-dropdown2{
    width: 143px;
    height: 45px;
    color: #8D9091;
    border-radius: 4px 4px 4px 4px;
    background-color: #FFFFFF;

}

.clr-grey2{
    background-color: #F6F8FC !important;
}

.clr-blue{
    color:#1987B6;
}

.plus-btn{
    width: 151px;
height: 40px;

background: #E8F3F8;
border-radius: 8px;
}

.newDiv{
    height: 200px;
    width: 400px;
    background-color: red;
}
