.container .form-check-input {
  width: 24px;
  height: 24px;

}
.form-check-input:checked {
  background-color: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

@media (max-width: 768px) {
  .row {
    overflow-x: scroll;
  }
  .card .card-body {
    min-height: 220px;
    text-overflow: hidden;
    min-width: 130px;
  }
  .min-ht2 {
    height: 74px;
  }
  @media (max-width: 350px) {
    .min-ht2 {
      height: 95px;
    }
  }
}