<div>

  <!-- This is first sentence -->
 <div class="d-flex justify-content-center mt-4" >   
     <div class="card-title fs-24 fw-bold">{{'GETTING_STARTED_WITH_SUNBIRD_RC' | translate}}</div>
 </div>


  <!-- This is second sentence -->
 <div class="d-flex justify-content-center mb-1 mt-2">
     <div class="color-grey-txt fs-16">
       {{'CREATE_YOUR_REGISTRY_CREDENTIALING_PLATFORM' | translate}}
     </div>
 </div>

<!-- This is third sentence -->
<div class="d-flex justify-content-center mb-1 mt-2">
   <div class="color-grey-txt fs-16">
     {{'NEED_HELP' | translate}}<a
       href="https://docs.sunbirdrc.dev/"
       target="”_blank”"
       class="color-sec"
       >{{'LEARN_MORE' | translate}}</a
     >
     <!-- <a
       href="https://docs.sunbirdrc.dev/"
       target="”_blank”"
       class="color-sec"
       >{{'WATCH_TRAINING_VIDEO' | translate}}</a
     >
     or
     <a
       href="https://docs.sunbirdrc.dev/"
       target="”_blank”"
       class="color-sec"
       >{{'READ_DOCUMENTATION' | translate}}</a
     > -->
     </div>
 </div>

 <!-- FIRSSSTTTT CARDDDDDDD ROWWWWWWWWWWWWWWWWWWWWWWWW -->

 <div
 class="card px-5 pb-56 m-5 br-4">

 <div class="card-title fs-24 fw-bold mb-2 pt-4">
   <b>{{'BUILD_REGISTRY' | translate}}</b>
 </div>
 <div class="fs-14 card-title fw-100 mt-2">
   {{'GET_STARTED_WITH_BUILDING_REGISTRY_ADDITIONAL_MODULES' | translate}}
 </div>
 <div  class="row justify-content-center align-items-center check-container mt-3 mb-4" >
   <div class="col-sm-6 col-md-4">
     <div class="card {{ attestationCheckboxBorder }}">
       <div class="ps-4 pb-3 check-ht-wt">
         <input
           class="form-check-input"
           type="checkbox"
           id="attestationCheckbox"
           name="example2"
           [checked]="attestationCheckbox"
           (change)="changeEvent1()"
         />
       </div>
       <label for="attestationCheckbox">
       <div class="card-body align-items-center">
         <div class="card-title fw-700 mb-1">{{'ATTESTATION_CLAIM' | translate}}</div>

         <p class="lh-lg fs-14 min-ht2 color-grey-txt">
           {{'ALLOW_ATTESTATION_CLAIM_AND_ISSUE_VC' | translate}}
         </p>
       </div>
     </label>
     </div>
   </div>

   <div class="col-sm-6 col-md-4">
     <div class="card {{ vcCheckboxBorder }}">
       <div class="ps-4 pb-3 check-ht-wt">
         <input
           class="form-check-input"
           type="checkbox"
           id="VerifiableCredentialCheckbox"
           [checked]="verifiableCredentialCheckbox"
           (change)="changeEvent2()"
         />
       </div>
       <label for="VerifiableCredentialCheckbox">
       <div class="card-body">
         <p class="card-title fw-700 mb-1">{{'VERIFIABLE_CREDENTIAL' | translate}}</p>

         <p class="lh-lg fs-14 min-ht2 color-grey-txt">
           {{'CREATE_AND_TEST_VC_TEMPLATE' | translate}}
         </p>
       </div>
     </label>
     </div>
   </div>

   <div class="col-sm-6 col-md-4">
     <div class="card {{ ownershipCheckboxBorder }}">
       <div class="ps-4 pb-3 check-ht-wt">
         <input
           class="form-check-input"
           type="checkbox"
           id="OwnershipCheckbox"
           [checked]="ownershipCheckbox"
           (change)="changeEvent3()"
         />
       </div>
       <label for="OwnershipCheckbox">
       <div class="card-body">
         <p class="card-title fw-700 mb-1">{{'OWNERSHIP' | translate}}</p>

         <p class="fs-14 lh-lg min-ht2 color-grey-txt">
           {{'ONBOARD_END_USER_TO_LOGIN_AND_MANAGE_PROFILE_VC' | translate}}
         </p>
       </div>
     </label>
     </div>
   </div>
 </div>
 <a href="/create/{{ chooseEntity }}">
   <button class="float-end fs-14 bg-color-primary text-white btn" >{{'START' | translate}}</button></a
 >
</div>




<!-- SECONDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD CARRRRRRRRRRRRRRRRRRRRRRRRRRDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD -->


<div class="card px-5 pb-56 m-5 br-4">
 <div class="card-title fs-24 fw-bold mb-2 pt-4">
   <b> {{'NOT_SURE_HOW_TO_BUILD_REGISTRY_USE_SAMPLE_USE_CASE' | translate}}</b>
 </div>
 <p class="fs-14 card-title fw-100 mt-2">
   {{'YOUR_SCERNARIO_IS_CLOSE_GET_STARTED_IMMEDIATELY' | translate}}
 </p>

 <div class="row justify-content-center align-items-center mt-2">
   <div class="col-sm-6 col-md-4">
     <div class="card border-white">
       <div class="card-body">
         <p class="card-title fw-700">{{'DIVOC' | translate}}</p>

         <p class="card-text lh-lg fs-14 min-ht2 color-grey-txt">
           {{'REGISTRY_CREDENTIALS_FOR_HEALTH_CARE' | translate}}
         </p>
         <div class="mt-4">
           <!-- <a class="fs-12 color-sec">Experience Demo</a> -->

           <a href="/create/divoc" class="float-end fs-14 bg-color-primary text-white btn fl-main justify-content-center align-items-center"
             >{{'START' | translate}}</a
           >
         </div>
       </div>
     </div>
   </div>

   <div class="col-sm-6 col-md-4">
     <div class="card border-white">
       <div class="card-body">
         <p class="card-title fw-700">{{'ISSUANCE' | translate}}</p>

         <p class="card-text lh-lg fs-14 min-ht2 color-grey-txt">
           {{'CREDENTIALING_FOR_ISSUERS_TO_CREATE_AND_ISSUE_CERTIFICATE' | translate}}
         </p>
         <div class="mt-4">
           <a
             href="https://sunbird-certificate-demo.xiv.in/"
             target="”_blank”"
             class="fs-12 color-sec"
             >{{'EXPERIANCE_DEMO' | translate}}</a
           >

           <a
             href="/create/issuance"
             class="float-end fs-14 bg-color-primary text-white btn justify-content-center align-items-center" 
             >{{'START' | translate}}</a
           >
         </div>
       </div>
     </div>
   </div>

   <div class="col-sm-6 col-md-4">
     <div class="card border-white">
       <div class="card-body">
         <p class="card-title fw-700">{{'EDUCATION_RC' | translate}}</p>

         <p class="card-text lh-lg fs-14 min-ht2 color-grey-txt">
           {{'ONBOARD_END_USER_TO_LOGIN_AND_MANAGE_PROFILE_VC' | translate}}
         </p>
         <div class="mt-4">
           <a
             href="https://demo-education-registry.xiv.in/"
             target="”_blank”"
             class="fs-12 color-sec"
             >{{'EXPERIANCE_DEMO' | translate}}</a
           >
           <a
             href="/create/education"
             class="float-end fs-14 bg-color-primary text-white btn fl-main justify-content-center align-items-center"
             >{{'START' | translate}}</a
           >
         </div>
       </div>
     </div>
   </div>
 </div>
</div>



</div>