<div id="content">
  <div class="">
    <div class="card-body">
      <div class="d-flex justify-content-center mt-3">
        <div></div>
        <div>
          <p class="card-title fw-bold">Getting Started with Sunbird RC</p>
        </div>
        <div></div>
      </div>

      <div class="d-flex justify-content-center mb-1 mt-3">
        <div></div>
        <div>
          <p class="card-text lh-lg p14">
            Create your Registry and Credentialing Platform
          </p>
        </div>
        <div></div>
      </div>

      <div class="d-flex justify-content-center mb-4">
        <div></div>
        <div>
          <p class="card-text p14">
            Need Help?<a
              href="https://docs.sunbirdrc.dev/"
              target="”_blank”"
              class="text-secondary-color"
              >Learn more</a
            >
            <!-- <a
              href="https://docs.sunbirdrc.dev/"
              target="”_blank”"
              class="text-secondary-color"
              >Watch training video</a
            >
            or
            <a
              href="https://docs.sunbirdrc.dev/"
              target="”_blank”"
              class="text-secondary-color"
              >read documentation</a
            > -->
          </p>
        </div>
        <div></div>
      </div>

      <!-- <hr class="custHr" /> -->

      <!--  -->
      <div
        class="container white-background top-margin-container bottom-padding-container"
      >
        <p class="primary-text fw-bold mb-1 mt-5 top-padding-title">
          <b> Build Registry</b>
        </p>
        <p class="p14 primary-text fw-400">
          Get started with building registry. You can add the following
          additional modules to include with the registry.
        </p>

        <div
          class="row justify-content-center align-items-center check-container"
        >
          <div class="col-sm-6 col-md-4">
            <div class="card {{ colorBorder }}">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexCheckDefault"
                  name="example2"
                  [checked]="checkbox1"
                  (change)="changeEvent1()"
                />
              </div>
              <div class="card-body align-items-center">
                <p class="card-title">Attestation & Claim</p>

                <p class="card-text lh-lg p14 min-ht2">
                  To allow attestation of a claim and issue Verifiable
                  credentials
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="card {{ colorBorder2 }}">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexCheckDefault"
                  [checked]="checkbox2"
                  (change)="changeEvent2()"
                />
              </div>
              <div class="card-body">
                <p class="card-title">Verifiable Credential</p>

                <p class="card-text lh-lg p14 min-ht2">
                  Create and test Verifiable Credential template
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="card border-white">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </div>
              <div class="card-body">
                <p class="card-title">Ownership</p>

                <p class="card-text lh-lg p14 min-ht2">
                  To onboard end user, so that they can login and manage their
                  profile and VC
                </p>
              </div>
            </div>
          </div>
        </div>
        <a href="/create/{{ chooseEntity }}">
          <button class="float-end p14 btn btn-primary">Start</button></a
        >
      </div>

      <!--  -->

      <!--  -->
      <div class="container white-background bottom-padding-container">
        <p class="primary-text fw-bold mb-1 mt-5 top-padding-title">
          <b> Not sure how to build registry? Use our sample use cases</b>
        </p>
        <p class="p14 primary-text fw-400">
          If your scenario is close to one of the sample use case below, you can
          get started immediately. Please note you can edit the settings of
          these usecases later as per your requirement.
        </p>

        <div class="row justify-content-center align-items-center">
          <div class="col-sm-6 col-md-4">
            <div class="card border-white">
              <div class="card-body">
                <p class="card-title">DIVOC</p>

                <p class="card-text lh-lg p14 min-ht2">
                  Registry and Credentials for Health Care and Vaccination
                  Certificate Issuance
                </p>
                <div class="mt-4">
                  <!-- <a class="p12 text-secondary-color">Experience Demo</a> -->

                  <a href="/create/divoc" class="float-end p14 btn btn-primary"
                    >Start</a
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="card border-white">
              <div class="card-body">
                <p class="card-title">Issuance</p>

                <p class="card-text lh-lg p14 min-ht2">
                  Credentialing for issuers to create and issue verified
                  certificate
                </p>
                <div class="mt-4">
                  <a
                    href="https://sunbird-certificate-demo.xiv.in/"
                    target="”_blank”"
                    class="p12 text-secondary-color"
                    >Experience Demo</a
                  >

                  <a
                    href="/create/issuance"
                    class="float-end p14 btn btn-primary"
                    >Start</a
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="card border-white">
              <div class="card-body">
                <p class="card-title">Education RC</p>

                <p class="card-text lh-lg p14 min-ht2">
                  To onboard end user, so that they can login and manage their
                  profile and VC
                </p>
                <div class="mt-4">
                  <a
                    href="https://demo-education-registry.xiv.in/"
                    target="”_blank”"
                    class="p12 text-secondary-color"
                    >Experience Demo</a
                  >
                  <a
                    href="/create/education"
                    class="float-end p14 btn btn-primary"
                    >Start</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->

      <!-- Agree  -->

      <!--  -->
    </div>
  </div>
</div>
