// .wrapped{
//     display: flex;
//     justify-content: center;
// }

// .bTitle{
//     font-family: 'Lato';
//                 font-style: normal;
//                 font-weight: 400;
//                 font-size: 24px;
//                 line-height: 32px;
// }

// -----------Publish Table-CSS------------------ 
.publishHeading{
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 32px;
display: flex;
align-items: center;
color: #000000;
}

.table {
    background-color: var(--cardBackground) !important;
    border-spacing: 10vh;
    width: 60vw;
}
.publishedbtn{
    border-radius: 5px;
    background-color: gba(34, 176, 46, 0.1);
    color: #22B02E;
    border: 1px solid #22B02E;
    padding: 4px 9px;
    }

.draftbtn {
    border-radius: 5px;
    background-color: #EFEFEF;
    color: #8D9091;
    border: 1px solid #CCCCCC;
    padding: 4px 9px;
    
}

.publishbtn {
    background-color: #1987B6;
    border: none;
    color: #FFFFFF;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 15%;
}