<div id="content" class="pl-5 py-5 lh-base">
    <h3>{{'COMING_SOON' | translate}}</h3>
    <!-- <div *ngIf="isSettingMenu"> -->
  
    <!-- <p class="fs-14">{{'YOUR_SCERNARIO_IS_CLOSE_GET_STARTED_IMMEDIATELY' | translate}}</p>

    <p class="fs-16 fw-bold">{{'WHO_IS_AUTHORISED_FOR_ISSUANCE' | translate}}</p>
    <div class="card w-100  p-2 mb-3">
        <div>
            <input type="radio" name="exampleRadios" id="exampleRadios1" value="a" checked>
            <label class="fs-14" for="exampleRadios1">
            &nbsp; {{'ANONYMOUS' | translate}}
            </label>
         </div>
         <div class="row">
             <div class="col-2">
                <input class="" type="radio" name="exampleRadios" id="exampleRadios2" value="b">
                <label class="fs-14" for="exampleRadios2">
                &nbsp; {{'ROLE' | translate}}
                </label>
             </div>
            <div class="col-10">
                <select name="visibility" id="visibility" class="fs-14 w-185 p-2 br-4 border-grey-3 bg-card ">
                    <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        {{'ADD_ROLE' | translate}}
                    </option>
                </select>
            </div>
         </div>
    </div>
</div>

    <p class="fs-16 fw-bold">{{'HOW_CAN_ENTITIES_LOGIN' | translate}}</p>
    <div class="card w-100 p-4 lh-base">

        <div class="mb-1">
            <span class="l12 fw-bold"> {{'ENTITY_NAME' | translate}} &nbsp; </span> <span class="fs-14">{{'EDUCATION_BOARD' | translate}}</span>
        </div>


        <div>
            <span class="l12 fw-bold">{{'UNIQUE_FIELD' | translate}}</span> <br />
            <select name="visibility" id="visibility" class="fs-14 w-50 p-2 mb-4 br-4 border-grey-3 bg-card ">
                <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    {{'PUBLIC' | translate}}
                </option>
                <option value="private"> <i class="fa fa-ellipsis-h " aria-hidden="true"></i>
                    {{'PRIVATE' | translate}}
                </option>
            </select>

        </div>

        <span class="l12 fw-bold">{{'AUTHENTICATION_TYPE' | translate}}</span>
        <div class="d-flex">
            <div>
                <select name="visibility" id="visibility" class="fs-14 w-185 p-2 br-4 border-grey-3 bg-card ">
                    <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        {{'OTP' | translate}}
                    </option>
                </select>

            </div>

            <div class="ml-2">
                <span class="m-2 mr-3 fs-14">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" unchecked />
                    <label for="vehicle1" class="fs-14 mr-2"> &nbsp; {{'EMAIL' | translate}}</label>

                    <select name="visibility" id="visibility" class="fs-14 p-2 w-185 br-4 border-grey-3 bg-card ">
                        <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            {{'SELECT_FIELD' | translate}}
                        </option>
                    </select>
                </span>
            </div>


            <div class="ml-2">
                <span class="m-2 mr-3 fs-14">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" unchecked />
                    <label for="vehicle1" class="mr-2 fs-14"> &nbsp; {{'MOBILE_NUMBER' | translate}}</label>

                    <select name="visibility" id="visibility" class="fs-14 w-185 p-2 br-4 border-grey-3 bg-card ">
                        <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            {{'EDUCATIONBOARD_EMAIL' | translate}}
                        </option>
                    </select>
                </span>
            </div>
        </div>

        <div class="card bg-grey-4 w-100 p-2 mt-2 lh-base">
            <div class="d-flex">
                <input type="checkbox" id="vehicle1" class="mt-1" name="vehicle1" value="Bike" checked >
                <label for="vehicle1" class="fs-14 mr-2 "> &nbsp; {{'ALTERNATE_LOGIN' | translate}}</label>
    
            </div>
          
            <span class="l12 fw-bold">{{'AUTHENTICATION_TYPE' | translate}}</span>
            <div class="d-flex">
                <div>
                    <select name="visibility" id="visibility" class="fs-14 w-185 p-2 br-4 border-grey-3 bg-card ">
                        <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            {{'OTP' | translate}}
                        </option>
                    </select>
    
                </div>
    
                <div class="ml-2">
                    <span class="m-2 mr-3 fs-14">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" unchecked />
                        <label for="vehicle1" class="fs-14 mr-2"> &nbsp; {{'EMAIL' | translate}}</label>
    
                        <select name="visibility" id="visibility" class="fs-14 p-2 w-185 br-4 border-grey-3 bg-card ">
                            <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                {{'SELECT_TYPE' | translate}}
                            </option>
                        </select>
                    </span>
                </div>
    
    
                <div class="ml-2">
                    <span class="m-2 mr-3 fs-14">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" unchecked />
                        <label for="vehicle1" class="mr-2 fs-14"> &nbsp; {{'MOBILE_NUMBER' | translate}}</label>
    
                        <select name="visibility" id="visibility" class="fs-14 w-185 p-2 br-4 border-grey-3 bg-card ">
                            <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                {{'EDUCATIONBOARD_EMAIL' | translate}}
                            </option>
                        </select>
                    </span>
                </div>
            </div>
            
        </div>


        <hr /> -->

       
<!-- 
    </div> -->
</div>
