<div class="col-md-12 pr-4 mb-6">
    <div class="ml-4 mt-5 w-70" *ngIf="schemaStatus == 'PUBLISHED'">
        <span class="bg-color-secondary p-3">
            {{ 'OWNERSHIP_IS_READONLY' | translate }}
        </span> 
    </div>
    <form [formGroup]="ownershipForm">
        <div class="step p-4">
            <div class="mb-2">
                <span class="fs-16 fw-bold mb-2">{{'HOW_CAN_ENTITIES_LOGIN' | translate}}</span>
            </div>
            <div class="card w-100 p-3">
                <div class="px-3">
                    <div class="mb-3">
                        <span class="fs-14 fw-bold">{{'FIELD_MAPPING' | translate}}</span><br />
                    </div>
                    <fieldset>
                        <div class="mb-3" formGroupName="primaryLogin">
                            <div class="row">
                                <div class="col-6 ml-3">
                                    <span class="fs-12 fw-bold"></span><br />
                                    <div class="d-flex justify-content-center align-items-center ml-1">
                                        <fieldset class="form-check mr-3" [disabled]="schemaStatus == 'PUBLISHED'">
                                            <div style="margin-left: -80%">
                                            <input class="form-check-input rounded-lg checkbox-lg" type="checkbox" id="flexCheckUserID" formControlName="userIDCheckbox" >
                                            <label class="form-check-label fs-14" for="flexCheckUserID">
                                                {{'USERID' | translate}}
                                            </label>
                                            </div>
                                        </fieldset>
                                        <fieldset [disabled]="!ownershipForm.value.primaryLogin.userIDCheckbox">
                                            <select name="userID" id="userID" formControlName="userIDField"
                                                class="w-100 br-4 border-1 border-light fs-14 p-3 ml-3">
                                                <option value="" disabled selected hidden>{{'SELECT_FIELD' | translate}}</option>
                                                <option *ngFor="let property of propertyNames; let i = index;"
                                                    [value]="property">{{ property }}</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-4 mr-3">
                                    <span class="fs-12 fw-bold"></span><br />
                                    <div class="d-flex justify-content-center align-items-center">
                                        <fieldset class="form-check mr-2" [disabled]="schemaStatus == 'PUBLISHED'">
                                            <div style="margin-left: -40%">
                                            <input class="form-check-input rounded-lg checkbox-lg" type="checkbox"
                                                id="flexCheckEmail" formControlName="emailCheckbox">
                                            <label class="form-check-label fs-14" for="flexCheckEmail">
                                                {{'EMAIL' | translate}}<span class="text-danger">*</span>
                                            </label>
                                            </div>
                                        </fieldset>
                                        <fieldset [disabled]="!ownershipForm.value.primaryLogin.emailCheckbox">
                                            <select name="email" id="email" formControlName="emailField"
                                                class="w-100 br-4 border-1 border-light fs-14 p-3 ml-3 px-7">
                                                <option value="" disabled selected hidden>{{'SELECT_FIELD' | translate}}</option>
                                                <option *ngFor="let property of propertyNames; let i = index;"
                                                    [value]="property">{{ property }}</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <span class="fs-12 fw-bold"></span><br />
                                    <div class="d-flex justify-content-center align-items-center">
                                        <fieldset class="form-check"  [disabled]="schemaStatus == 'PUBLISHED'">
                                            <input class="form-check-input rounded-lg checkbox-lg" type="checkbox"
                                                id="flexCheckMobile" formControlName="mobilenumberCheckbox">
                                            <label class="form-check-label fs-14" for="flexCheckMobile">
                                                {{'MOBILE_NUMBER' | translate}}<span class="text-danger">*</span>
                                            </label>
                                        </fieldset>                                        
                                        <fieldset [disabled]="!ownershipForm.value.primaryLogin.mobilenumberCheckbox">
                                            <select name="mobile" id="mobile" formControlName="mobilenumberField"
                                                class="w-100 br-4 border-1 border-light fs-14 p-3 ml-3">
                                                <option value="" disabled selected hidden>{{'SELECT_FIELD' | translate}}</option>
                                                <option *ngFor="let property of propertyNames; let i = index;"
                                                    [value]="property">{{ property }}</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-4 mr-3">
                                    <span class="fs-12 fw-bold"></span><br />
                                    <div class="d-flex justify-content-center align-items-center ml-3">
                                        <fieldset class="form-check"  [disabled]="schemaStatus == 'PUBLISHED'">
                                            <input class="form-check-input rounded-lg checkbox-lg" type="checkbox"
                                                id="flexCheckPassword" formControlName="passwordCheckbox">
                                            <label class="form-check-label fs-14" for="flexCheckPassword">
                                                {{'PASSWORD' | translate}}
                                            </label>
                                        </fieldset>
                                        <fieldset [disabled]="!ownershipForm.value.primaryLogin.passwordCheckbox">
                                            <select name="passord" id="passord" formControlName="passwordField"
                                                class="w-100 br-4 border-1 border-light fs-14 p-3 ml-3">
                                                <option value="" disabled selected hidden>{{'SELECT_FIELD' | translate}}</option>
                                                <option *ngFor="let property of propertyNames; let i = index;"
                                                    [value]="property">{{ property }}</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
        </div>

        <div class="step px-4">
            <div class="mb-2">
                <span class="fs-16 fw-bold">{{'WHO_IS_AUTHORISED_FOR_ISSUANCE' | translate}}</span>
            </div>
            <div class="card w-100 p-3">
                <div class="px-3">
                    <div class="mb-3">
                        <fieldset class="form-check"  [disabled]="schemaStatus == 'PUBLISHED'">
                        <div class="custom-control custom-radio my-4" >
                            <input type="radio" id="customRadio1" class="custom-control-input radio-lg"
                                value="anonymous" formControlName="issuer" [defaultChecked]="true" >
                            <label class="custom-control-label fs-14" for="customRadio1">{{'ANONYMOUS' |
                                translate}}</label>
                        </div>
                        <div class="custom-control custom-radio my-4">
                            <input type="radio" id="customRadio2" class="custom-control-input radio-lg" value="role"
                                formControlName="issuer">
                            <label class="custom-control-label fs-14" for="customRadio2">{{'ROLE' | translate}}</label>
                        </div>
                        </fieldset>
                        <fieldset class="ml-4" [disabled]="ownershipForm.value.issuer ==='role'?false:true">
                            <span class="fs-14 fw-bold">{{'SELECT_ROLE' | translate}}</span><br />
                            <select name="issuerRole" id="issuerRole" formControlName="issuerRole"
                                class="w-25 br-4 border-1 border-light fs-14 p-3">
                                <option value="" disabled selected hidden>Add Role</option>
                                <option *ngFor="let entity of entityList; let i = index;" [value]="entity">{{ entity }}</option>
                            </select>
                        </fieldset>
                    </div>
                    <fieldset class="form-check"  [disabled]="schemaStatus == 'PUBLISHED'">
                    <div class="px-1 form-inline">
                        <label for="newRole" class="fs-14 fw-bold">Create a New Role:</label>
                        <input type="text" class="form-control col-4 ml-2" id="newRole" name="newRole" placeholder="Enter new role" />
                    </div>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="step px-4 mt-5">
            <div class="mb-2">
                <span class="fs-16 fw-bold">{{'WHO_IS_AUTHORISED_TO_INVITE_ROLES' | translate}}</span>
            </div>
            <div class="card w-100 p-3">
                <div class="px-3">
                    <div class="mb-3">
                        <fieldset class="form-check"  [disabled]="schemaStatus == 'PUBLISHED'">
                        <div class="custom-control custom-radio my-4">
                            <input type="radio" id="inviteCustomRadio1" class="custom-control-input radio-lg"
                                value="anonymous" formControlName="invitee" [defaultChecked]="true">
                            <label class="custom-control-label fs-14" for="inviteCustomRadio1">{{'ANONYMOUS' | translate}}</label>
                        </div>
                        <div class="custom-control custom-radio my-4">
                            <input type="radio" id="inviteCustomRadio2" class="custom-control-input radio-lg" value="inviteRoles"
                                formControlName="invitee">
                            <label class="custom-control-label fs-14" for="inviteCustomRadio2">{{'INVITE_ROLES' | translate}}</label>
                        </div>
                        </fieldset>
                        <fieldset class="ml-4" [disabled]="ownershipForm.value.invitee ==='inviteRoles'?false:true">
                            <span class="fs-14 fw-bold">{{'SELECT_ROLE' | translate}}</span><br />
                            <select name="inviteRole" id="inviteRole" formControlName="inviteRole"
                                class="w-25 br-4 border-1 border-light fs-14 p-3">
                                <option value="" disabled selected hidden>Add Role</option>
                                <option *ngFor="let entity of entityList; let i = index;" [value]="entity">{{ entity }}</option>
                            </select>
                        </fieldset>
                    </div>
                    <fieldset class="form-check"  [disabled]="schemaStatus == 'PUBLISHED'">
                    <div class="px-1 form-inline">
                        <label for="newRole" class="fs-14 fw-bold">Create a New Role:</label>
                        <input type="text" class="form-control col-4 ml-2" id="newRole" name="newRole" placeholder="Enter new role" />
                    </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </form>
</div>