<div id="content" class="pl-5 py-5 lh-base">
    <div *ngIf="isSettingMenu">
    <h3>Ownership</h3>
    <p class="p14">If your scenario is close to our sample use case below, you can to get started immediately. Please
        note you can edit the settings of these usecases as per your requirement.</p>

    <p class="p16 fw-bold">Who is authorised for issuance?</p>
    <div class="card w-100  p-2 mb-3">
        <div>
            <input type="radio" name="exampleRadios" id="exampleRadios1" value="a" checked>
            <label class="p14" for="exampleRadios1">
            &nbsp; Anonymous
            </label>
         </div>
         <div class="row">
             <div class="col-2">
                <input class="" type="radio" name="exampleRadios" id="exampleRadios2" value="b">
                <label class="p14" for="exampleRadios2">
                &nbsp; Role
                </label>
             </div>
            <div class="col-10">
                <select name="visibility" id="visibility" class="p14 w-185 p-2 fieldInput">
                    <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        Add Role
                    </option>
                </select>
            </div>
         </div>
    </div>
</div>

    <p class="p16 fw-bold">How can entities login?</p>
    <div class="card w-100 p-4 lh-base">

        <div class="mb-1">
            <span class="l12 fw-bold"> Entity Name: &nbsp; </span> <span class="p14">Education Board</span>
        </div>


        <div>
            <span class="l12 fw-bold">Unique Field</span> <br />
            <select name="visibility" id="visibility" class="p14 w-50 p-2 mb-4 fieldInput">
                <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    Public
                </option>
                <option value="private"> <i class="fa fa-ellipsis-h " aria-hidden="true"></i>
                    Private
                </option>
            </select>

        </div>

        <span class="l12 fw-bold">Authentication Type</span>
        <div class="d-flex">
            <div>
                <select name="visibility" id="visibility" class="p14 w-185 p-2 fieldInput">
                    <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        OTP
                    </option>
                </select>

            </div>

            <div class="ml-2">
                <span class="m-2 mr-3 p14">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" unchecked />
                    <label for="vehicle1" class="p14 mr-2"> &nbsp; Email</label>

                    <select name="visibility" id="visibility" class="p14 p-2 w-185 fieldInput">
                        <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            Select Field
                        </option>
                    </select>
                </span>
            </div>


            <div class="ml-2">
                <span class="m-2 mr-3 p14">
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" unchecked />
                    <label for="vehicle1" class="mr-2 p14"> &nbsp; Mobile Number</label>

                    <select name="visibility" id="visibility" class="p14 w-185 p-2 fieldInput">
                        <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            educationboard.email
                        </option>
                    </select>
                </span>
            </div>
        </div>

        <div class="card card-bg w-100 p-2 mt-2 lh-base">
            <div class="d-flex">
                <input type="checkbox" id="vehicle1" class="mt-1" name="vehicle1" value="Bike" checked >
                <label for="vehicle1" class="p14 mr-2 "> &nbsp; Alternate Login (parental/gaurdian/admin)</label>
    
            </div>
          
            <span class="l12 fw-bold">Authentication Type</span>
            <div class="d-flex">
                <div>
                    <select name="visibility" id="visibility" class="p14 w-185 p-2 fieldInput">
                        <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                            OTP
                        </option>
                    </select>
    
                </div>
    
                <div class="ml-2">
                    <span class="m-2 mr-3 p14">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" unchecked />
                        <label for="vehicle1" class="p14 mr-2"> &nbsp; Email</label>
    
                        <select name="visibility" id="visibility" class="p14 p-2 w-185 fieldInput">
                            <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                Select Field
                            </option>
                        </select>
                    </span>
                </div>
    
    
                <div class="ml-2">
                    <span class="m-2 mr-3 p14">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" unchecked />
                        <label for="vehicle1" class="mr-2 p14"> &nbsp; Mobile Number</label>
    
                        <select name="visibility" id="visibility" class="p14 w-185 p-2 fieldInput">
                            <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                educationboard.email
                            </option>
                        </select>
                    </span>
                </div>
            </div>
            
        </div>


        <hr />

       

    </div>
</div>