/************** Font Size ****************/
  .fs-10{
    font-size: 10px;
  }
  .fs-12{
    font-size: 12px;
  }
  .fs-14{
    font-size: 14px;
  }
  .fs-16{
    font-size: 16px;
  }
  .fs-24{
    font-size: 24px;
  }
  .fs-32{
    font-size: 32px;
  }
  
  /************** Font Weight ****************/
  .fw-400{
    font-weight: 400;
  }
  
  .fw-700{
    font-weight: 700;
  }
  
  /************* Buttons ***********************/
  .btn {
    border-radius: 20px !important;
    text-transform: inherit !important;
    box-shadow: none !important;
    height: 40px;
    width: auto;
    border: none !important;
    text-align: center;
  }
  
  .publishedbtn{
    background-color: gba(34, 176, 46, 0.1);
    color: var(--secondaryColorGreen) !important;
    border: 1px solid var(--secondaryColorGreen); 
  }
  
  .common-btn{
    border-radius: 5px;
    padding: 9px 4px;
  }
  
  .draftbtn {
    background-color:var(--greyColorThree) !important;
    color: var(--greyColorOne) !important;
    border: 1px solid var(--greyColorTwo) !important;
  }
  
  .common-btn2{
    border: none;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
  }

  /********************* Colors,BG Colors, Border Colors ****************************/
   //This is color dark blue - mainly used for buttons 
  .color-primary{
    color:var(--primaryColorBlue) !important;
  }
  .bg-color-primary{
    background-color:var(--primaryColorBlue) !important;
  }
  .border-color-primary{
    border: 1px solid var(--primaryColorBlue) !important;
  }
  
  
  //This is color light blue - mainly used for buttons like back,JSON Schema etc
  .color-secondary{
    color:var(--lightColorbtn) !important;
  }
  .bg-color-secondary{
    background-color:var(--lightColorbtn) !important;
  }
  .border-color-secondary{
    border: 1px solid var(--lightColorbtn) !important;
  }
  
  //This is color red - mainly used for buttons like delete
  .color-red{
    color:var(--darksecondaryColorRed) !important;
  }
  .bg-color-red{
    background-color:var(--darksecondaryColorRed) !important;
  }
  .border-color-red{
    border: 1px solid var(--darksecondaryColorRed) !important;
  }
  
  //This is color sea green - Mainly used for div outlines, experience demo on Get Started page
  .color-sec{
    color:var(--darkprimaryColorGreen) !important;
  }
  .bg-color-sec{
    background-color:var(--darkprimaryColorGreen) !important;
  }
  .border-color-sec{
    border: 1px solid var(--darkprimaryColorGreen) !important;
  }
  
  //This is color grey - this color is used for background - the grey background we see on all pages
   .color-grey{
    color:var(--backgroundColorGrey) !important;
  }
  .bg-grey{
    background-color:var(--backgroundColorGrey) !important;
  }
  .border-grey{
    border: 1px solid var(--backgroundColorGrey) !important;
  }
  
  // Another type of grey color - this is used mainly as a text color on Get Started etc 
  .color-grey-txt{
    color:var(--darkgreyColorOne) !important;
  }
  .bg-grey-txt{
    background-color:var(--darkgreyColorOne) !important;
  }
  .border-grey-txt{
    border: 1px solid var(--darkgreyColorOne) !important;
  }
  
  // Almost black - but not black, is used for text color sometimes
  .color-grey-dark{
    color:var(--darkprimaryColorGrey) !important;
  }
  .bg-grey-dark{
    background-color:var(--darkprimaryColorGrey) !important;
  }
  .border-grey-dark{
    border: 1px solid var(--darkprimaryColorGrey) !important;
  }
  
  //This type of grey - used mainly for borders of inputs,selects etc.
  .color-grey-3{
    color:var(--darkgreyColorThree) !important;
  }
  .bg-grey-3{
    background-color:var(--darkgreyColorThree) !important;
  }
  .border-grey-3{
    border: 1px solid var(--greyColorThree) !important;
  }
  
  
  //This type of grey - used mainly for borders of inputs,selects etc. CCCCCCC
  .color-grey-2{
    color:var(--darkgreyColorTwo) !important;
  }
  .bg-grey-2{
    background-color:var(--darkgreyColorTwo) !important;
  }
  .border-grey-2{
    border: 1px solid var(--darkgreyColorTwo) !important;
  }
  
  
  //This type of grey - used mainly for borders of inputs,selects etc. d7d7d5
  .color-white-2{
    color:#d7d5d5 !important;
  }
  .bg-white-2{
    background-color:#d7d5d5!important;
  }
  .border-white-2{
    border: 1px solid #d7d5d5 !important;
  }
  
  //This type of grey -
  .color-grey-4{
    color:var(--greyColorFour) !important;
  }
  .bg-grey-4{
    background-color:var(--greyColorFour) !important;
  }
  .border-grey-4{
    border: 1px solid var(--greyColorFour) !important;
  }
  .ylow {
    background-color: rgba(255, 217, 101, 0.3);
  }
  .bg-wt{
    background: #f9f9f9;
  }
  .color-wt1{
    color:var(--stepList) !important;
  }
  
  /*********************  Border Radius ****************************/
  .br-0{
    border-radius: 0px !important;
  }
  .br-4{
    border-radius: 4px !important;
  }
  .br-5{
    border-radius: 5px !important;
  }
  .br-8{
    border-radius: 8px !important;
  }
  .br-20{
  border-radius: 20px !important;
  }
  
  /********************** Z-Indexxxx **********************************/
  .zi-1{
    z-index: 1;
  }
  .zi-2{
    z-index: 2;
  }
  .zi-2000{
    z-index: 2000;
  }
  
  /******************* Opacity ****************************************/
  .op-01{
    opacity: 0.1 !important;
  }
  .op-1{
    opacity: 1 !important;
  }
  
  /************************Max Width**********************************/
  .max-w-100{
    max-width: 100px !important;
  }
  .max-w-350{
    max-width: 350px !important;
  }
  
  /******************* Padding *****************************************/
  .pb-56{
  padding-bottom: 56px !important;
  }
  
  /**************** Min Ht *****************************************/
  .min-ht {
    min-height: 220px !important;
  }
  .min-ht2 {
    min-height: 84px !important;
  }
  .min-ht3
  {
    min-height: 20px !important;
  }
  .pd-19{
    padding: 19px !important;
  }
  .mb-20{
    margin-bottom: 20px !important;
  }
  .border2 {
    border: 1px solid #fff !important;
  }
  .border3{
    border: 1px solid rgba(0,0,0,.125);
  }
  .border5{
    border: 1px solid #dddddd;
  }
  .border-sp{
    border-spacing: 10vh;
  }
  
  /***************************** Height ************************************/
  .ht-24{
    height: 24px !important;
  }
  .ht-172{
    height: 172px;
  }
  .ht-786{
    height: 786px;
  }
  .ht-auto{
    height: auto;
  }
  .vw-60{
    width: 60vw; //declare such that vw is visible
  }
  
  
  /*****************************Width************************************/
  .w-24{
    width: 24px !important;
  }
  .w-90-p{
    width: 90% !important;
  }
  .w-120{
    width: 120px !important;
  }
  .w-185{
    width: 185px !important;
  }

  
  /**************************Overflows***************************************/
  .overflow-x-scroll{
    overflow-y: scroll; /* Show vertical scrollbar */
  }
  .overflow-y-scroll{
    overflow-y: scroll; 
  }
  
  /********************************Transitions*****************************************/
  .tr-05{
    transition: all 0.5s ease;
  }
  
  /*********************************** Margin Left ***********************************************/
  .mr-10{
  margin-right: 10px;
  }
  .ml-12 {
    margin-left: -12px;
  }
  .ml-32 {
    margin-left: -32px;
  }
  .mr-48{
    right: 48px;
  }
  .top-8{
    top:8px;
  }
  .bottom-2{
    bottom:2px;
  }
  .ml-n-25 {
    margin-bottom: -25px;
  }
  
/************************************** Box Shadow************************************************************/
.bs-1{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
 }

/***************************************** Flex Displayyy   ************************************************************/  
.fl-main{
  display: flex;
 }


