<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-header nav-b navbar-inverse">
        <a class="nav-link pl-3" href="" onClick="history.go(-1); return false;"><i
                class="fa fa-angle-left primary-text"></i> </a>
        <span class="p16">Getting Started</span>
    </nav>

    <nav class="card mt-0 p-2 ml-32" [hidden]="isAddFormPg">

        <!-- <ul id="stepList" *ngFor="let steps of processSteps; let i = index"> -->
        <ul id="stepList">
            <li *ngFor="let steps of processSteps; let i = index" class="col-md-2 tab" id="step{{i + 1}}"><strong>
                    <i class="float-end fa fas fa-chevron-right text-grey-color mt-3 fs-3 next-arrow"></i>
                    <span class="l10">STEP {{i + 1}}</span> <br />
                    <span class="p14 fw-bold">{{steps?.title}}</span>
                </strong></li>
        </ul>
    </nav>
</header>

<div id="schemaEntity" class="container mt-1 ml-12">
    <div class="row" *ngIf="!isAddFormPg">
        <div class="col-md-3">
            <div class="wrapper">
                <!--Top menu -->
                <div id="sideMenu" class="sidebar">
                    <ul class="list-unstyled" *ngIf="containCommonField && isActive == 'createSchema'">
                        <p class="p16 fw-bold pl-3 text-uppercase">Common </p>

                        <li class="menu" (click)="openEntity(0, 'Common')">
                            <a class="a-menu"> Common schema
                                <!-- <i *ngIf="isActive == 'createSchema'" class="fa fa-ellipsis-h text-grey-color float-end mt-1 p14"
                                    aria-hidden="true"></i> -->

                                <!-- <div *ngIf="isActive == 'createSchema'" class="dropdown p14 float-end">
                                    <i class="fa fa-ellipsis-h text-grey-color" aria-hidden="true"></i>
                                    <div class="dropdown-content dropdown-content-margin">
                                        <a href="#" class="ml-0">Edit</a>
                                        <a href="#" class="ml-0">Delete</a>
                                    </div>
                                </div> -->
                            </a>
                        </li>
                    </ul>
                    <p class="p16 fw-bold pl-3 text-uppercase">Entity </p>

                    <ul class="list-unstyled components">
                        <ng-template ngFor let-menuItem [ngForOf]="entityListArr" let-i="index">
                            <li class="menu" *ngIf="menuItem?.title != 'Common' && menuItem?.title"
                                (click)="openEntity(i + 1, menuItem?.title)">
                                <a class="a-menu"> {{menuItem?.title}}
                                    <div *ngIf="isActive == 'createSchema'" class="dropdown p14 float-end">
                                        <i class="fa fa-ellipsis-h text-grey-color" aria-hidden="true"></i>
                                        <div class="dropdown-content dropdown-content-margin">
                                            <a data-toggle="modal" data-target="#addEntity"
                                                (click)="openEntityModal('edit', i)" class="ml-0">Edit</a>
                                            <a (click)="deleteEntity(i)" class="ml-0">Delete</a>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ng-template>

                    </ul>
                    <ul class="list-unstyled" *ngIf="isActive == 'createSchema'">
                        <li>
                            <button class="m-3 p14 btn btn-sec-bg submit-button text-secondary-color"
                                data-toggle="modal" data-target="#addEntity" (click)="openEntityModal('add')"><i
                                    class="fa fa-plus" aria-hidden="true"></i> Add Entity</button>
                        </li>
                        <!-- <li >
                            <a> Common
                            <i class="fa fa-ellipsis-h text-grey-color float-end mt-1 p14" aria-hidden="true"></i>
                        </a>
                        </li> -->
                    </ul>

                </div>

            </div>

        </div>


        <div class="col-md-9 p-2 mb-6">
            <div class="step" *ngIf="isActive == 'createSchema'">
                <div class="d-flex flex-justify-between card-body pr-2 py-2">
                    <div class="heading-2">
                        <h3>{{entityName}}</h3>
                        <p class="p14 text-grey-color">{{description}}</p>
                    </div>
                    <div *ngIf="!isShowJson && entityProperties.length">
                        <button class="float-end p14 btn btn-sec-bg submit-button text-secondary-color"
                            (click)="showJson()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Schema of
                            Entity</button>
                    </div>
                </div>

                <div *ngIf="!isShowJson && entityProperties.length">
                    <p class="p16">Fields</p>
                    <div class="card w-100">
                        <div class="px-3">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="p12 text-grey-color" scope="col"> Label </th>
                                        <th class="p12 text-grey-color" scope="col"> Field Type</th>
                                        <th class="p12 text-grey-color" scope="col"> Mandatory</th>
                                        <th class="p12 text-grey-color" scope="col"> Description </th>
                                        <th class="p12 text-grey-color" scope="col"> Visibility </th>
                                        <th class="p12 text-grey-color" scope="col"> </th>
                                    </tr>
                                </thead>
                                <tbody>


                                    <ng-template ngFor let-field [ngForOf]="entityProperties" let-i="index">
                                        <ng-template [ngIf]="field?.type == 'array' || field?.type == 'object'"
                                            class="p-4">
                                            <p class="mt-3 fw-bold">
                                                {{field?.propertyName}}
                                            </p>


                                            <ng-template ngFor let-arrayfield [ngForOf]="entityProperties[i].data"
                                                let-j="index">

                                                <tr style="border: white solid;" [hidden]="!arrayfield?.data?.title">
                                                    <!-- <tr style="border: white solid;" *ngFor="let arrayfield of entityProperties[i].data; let j = index"> -->


                                                    <td>
                                                        <span class="p14">{{arrayfield?.data?.title}}</span>
                                                    </td>

                                                    <td>
                                                        <span class="p14">{{arrayfield?.data?.type}}</span>
                                                    </td>
                                                    <td>
                                                        <span class="p14" *ngIf="arrayfield?.data?.required">Yes</span>
                                                        <span class="p14" *ngIf="!arrayfield?.data?.required">No</span>
                                                    </td>
                                                    <td>
                                                        <span class="p14">{{arrayfield?.description}}</span>
                                                    </td>
                                                    <td>
                                                        <select name="visibility" id="visibility"
                                                            class="fieldInput p14 m-2  py-1 px-3 mr-3">
                                                            <option value="public"> <i class="fa fa-ellipsis-h"
                                                                    aria-hidden="true"></i>
                                                                Public
                                                            </option>
                                                            <option value="private"> <i class="fa fa-ellipsis-h "
                                                                    aria-hidden="true"></i>
                                                                Private
                                                            </option>
                                                            <option value="personal"> <i class="fa fa-ellipsis-h"
                                                                    aria-hidden="true"></i>
                                                                Personal
                                                            </option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <div class="dropdown p14">
                                                            <i class="fa fa-ellipsis-h  text-grey-color"
                                                                aria-hidden="true"></i>
                                                            <div class="dropdown-content">
                                                                <a (click)="viewField('nasted', i, j)">View</a>
                                                                <a (click)="deleteField('nasted', i, j)">Delete</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </ng-template>

                                        <ng-template [ngIf]="field?.type == 'string'">
                                            <tr [hidden]="!field?.data?.title">


                                                <td>
                                                    <span class="p14">{{field?.data?.title}}</span>
                                                </td>

                                                <td>
                                                    <span class="p14">{{field?.data?.type}}</span>
                                                </td>
                                                <td>
                                                    <span class="p14" *ngIf="field?.data?.required">Yes</span>
                                                    <span class="p14" *ngIf="!field?.data?.required">No</span>
                                                </td>
                                                <td>
                                                    <span class="p14">{{field?.description}}</span>
                                                </td>
                                                <td>
                                                    <select name="visibility" id="visibility"
                                                        class="fieldInput p14 m-2  py-1 px-3 mr-3">
                                                        <option value="public"> <i class="fa fa-ellipsis-h"
                                                                aria-hidden="true"></i>
                                                            Public
                                                        </option>
                                                        <option value="private"> <i class="fa fa-ellipsis-h "
                                                                aria-hidden="true"></i>
                                                            Private
                                                        </option>
                                                        <option value="personal"> <i class="fa fa-ellipsis-h"
                                                                aria-hidden="true"></i>
                                                            Personal
                                                        </option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div class="dropdown p14">
                                                        <i class="fa fa-ellipsis-h  text-grey-color"
                                                            aria-hidden="true"></i>
                                                        <div class="dropdown-content">
                                                            <a (click)="viewField('string', i, j)">View</a>
                                                            <a (click)="deleteField('string', i, j)">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-template>

                                    </ng-template>
                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>





                <div *ngIf="isShowJson">
                    <div class="">
                        <!-- <create-vc-template></create-vc-template> -->
                        <json-editor *ngIf="properties" [options]="editorOptions" [data]="properties"
                            [(ngModel)]="properties" (change)="getJsonData($event)"></json-editor>
                        <footer class="footer fixed-bottom fixed-bottom-json">
                            <div class="container-fluid">
                                <div>
                                    <button (change)="getJsonData($event)"
                                        class="btn text-capitalize float-end btn-primary btn-primary-sm px-3 my-2">Save</button>
                                    <button (click)="showJson()"
                                        class="btn btn-sec-bg float-end submit-button px-3 my-2">Cancel</button>

                                </div>
                            </div>
                        </footer>

                        <!-- <json-editor [options]="editorOptions" style="min-height: 700px;" [data]="jsonFields"
                      [(ngModel)]="jsonFields"></json-editor> -->
                    </div>
                </div>

                <!-- <div class="card-body" *ngIf="entityListArr.length">
                    <span class="m-3 p14 mbtn-10 submit-button text-secondary-color" (click)="showAddForm()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add Field</span>
                </div> -->
                <div class="p-3 sm-card" *ngIf="entityListArr.length">
                    <span class="m-3 p14 mbtn-10 submit-button text-secondary-color" (click)="showAddForm()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add Field</span>
                </div>

                <div class="p-3" *ngIf="isActive == 'createSchema' && !entityListArr.length">
                    <p class="p16 fw-bold"> No schema added yet.</p>
                    <p class="p14">Please add entity level schema. You can also add common schema example address, field
                        name and field name which can be used or references in other schemas.</p>

                </div>
            </div>
            <div *ngIf="isActive == 'configurations'">
                <config-workflow></config-workflow>
            </div>



            <div *ngIf="isActive =='create-vc'">
                <create-vc-template></create-vc-template>
            </div>

            <div *ngIf="isActive == 'ownership'">
                <ownership></ownership>
            </div>
            <div *ngIf="isActive == 'test-publish'">
                <test-and-launch></test-and-launch>
            </div>




        </div>
    </div>

    <div *ngIf="isAddFormPg" class="p-5">
        <add-field-form [jsonSchema]="compFieldJson" (newItemEvent)="jsonSchemaData($event)"
            (backEvent)="goBackEvent($event)"></add-field-form>
    </div>


    <!-- Modal Start : Save Entity Name -->
    <div class="modal right fade" id="addEntity" tabindex="-1" role="dialog" aria-labelledby="addEntity">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header pt-4 border-0">
                    <h3 class="heading-5">Add Entity</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="container mt-1">
                    <div class="mb-3">
                        <span class="l12 fw-bold">Enter Entity Name</span>
                        <input [(ngModel)]="entityName" class="w-100 input-field modal-input-field p14 p-2 inputField"
                            placeholder="Enter Entity name" type="text" />
                    </div>

                    <div class="mt-2">
                        <span class="l12 fw-bold">Enter Description<span class="text-muted">
                                (optional)</span></span>
                        <textarea [(ngModel)]="description"
                            class="w-100 desc input-field modal-input-field p14 pl-3 inputField"></textarea>
                        <span class="l12 text-grey-color">Description about the entity</span>
                    </div>


                    <div class="mt-4">
                        <button data-dismiss="modal" aria-label="Close"
                            class="btn text-capitalize float-end btn-primary btn-primary-sm p1"
                            (click)="createEntity($event)">Save</button>
                        <!-- <button class="close" data-dismiss="modal" aria-label="Close"
                        class="btn text-capitalize float-end btn-primary btn-primary-sm p1 sb-text-primary mr-2 bg-none">Cancel</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer fixed-bottom">
        <div class="container-fluid">
            <div>
                <button *ngIf="isActive == 'create-vc' || isActive == 'test-publish'" (click)="backStep()"
                class="btn btn-sec-bg submit-button px-3 my-2 ml-2 mr-2 ">Back</button> &nbsp;
                <button (click)="nextStep()"
                    class="btn text-capitalize float-end btn-primary btn-primary-sm px-3 my-2">Save and
                    Next</button>
                <button *ngIf="isActive == 'configurations'"
                    class="btn btn-sec-bg float-end submit-button px-3 my-2 ml-2 mr-2 ">Skip</button> &nbsp;
                <button *ngIf="isActive == 'create-vc' || isActive == 'ownership'"
                    class="btn  float-end btn-primary btn-primary-sm px-3 my-2 ml-2 mr-2">Save as Draft</button>
                &nbsp;

            </div>
        </div>
    </footer>
</div>
<!-- Modal End : Save Entity Name -->