<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-header nav-b navbar-inverse">
        <a class="nav-link pl-3" href="" onClick="history.go(-1); return false;"><i
                class="fa fa-angle-left primary-text"></i> </a>
        <span class="p16">Getting Started</span>
    </nav>

    <nav class="card mt-0 p-2 ml-32" [hidden]="isAddFormPg">

        <ul id="stepList">
            <li class="col-md-2 tab" id="step1"><strong>
                    <i class="float-end fa fas fa-chevron-right text-grey-color mt-3 fs-3 next-arrow"></i>
                    <span class="l10">STEP 1</span> <br />
                    <span class="p14 fw-bold">Create Schema</span>
                </strong></li>
            <li id="step2" class="col-md-2 tab"><strong>
                    <i class="float-end fa fas fa-chevron-right text-grey-color mt-3 fs-3 next-arrow"></i>
                    <span class="l10">STEP 2</span> <br />
                    <span class="p14 fw-bold">Configuring Workflows</span>
                </strong></li>
            <li id="step3" class="col-md-2 tab"><strong>
                    <i class="float-end fa fas fa-chevron-right text-grey-color mt-3 fs-3 next-arrow"></i>
                    <span class="l10">STEP 3</span> <br />
                    <span class="p14 fw-bold">Create VC template</span>
                </strong></li>
            <li id="step4" class="col-md-2 tab"><strong>
                    <i class="float-end fa fas fa-chevron-right text-grey-color mt-3 fs-3 next-arrow"></i>
                    <span class="l10">STEP 4</span> <br />
                    <span class="p14 fw-bold">Ownership</span>
                </strong></li>
            <li id="step5" class="col-md-2 tab"><strong>
                    <i class="float-end fa fas fa-chevron-right text-grey-color mt-3 fs-3 next-arrow"></i>
                    <span class="l10">STEP 5</span> <br />
                    <span class="p14 fw-bold">Test and Launch</span>
                </strong></li>
        </ul>



    </nav>
</header>
<div id="schemaEntity" class="container mt-1 ml-12">
    <div class="row" *ngIf="!isAddFormPg">
        <div class="col-md-3">
            <div class="wrapper">
                <!--Top menu -->
                <div class="sidebar">
                    <p class="p16 fw-bold pl-3 text-uppercase">Entity </p>

                    <ul id="sideMenu" class="list-unstyled components">

                        <li class="menu" (click)="openEntity(i)" *ngFor="let menuItem of entityList; let i = index">
                            <a class="a-menu"> {{menuItem?.entityName}}
                                <i *ngIf="active0" class="fa fa-ellipsis-h text-grey-color float-end mt-1 p14"
                                    aria-hidden="true"></i>
                            </a>
                        </li>

                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <button class="m-3 p14 btn btn-sec-bg submit-button text-secondary-color"
                                data-toggle="modal" data-target="#addEntity"><i class="fa fa-plus"
                                    aria-hidden="true"></i> Add Entity</button>
                        </li>
                        <!-- <li >
                            <a> Common
                            <i class="fa fa-ellipsis-h text-grey-color float-end mt-1 p14" aria-hidden="true"></i>
                        </a>
                        </li> -->
                    </ul>

                </div>

            </div>

        </div>


        <div class="col-md-9 p-2 mb-6">
            <div class="step" *ngIf="active0 && entityFieldList.length">
                <div class="d-flex flex-justify-between card-body pr-2 py-2">
                    <div class="heading-2">
                        <h3>{{entityFields?.entityName}}</h3>
                    </div>
                    <div *ngIf="!isShowJson">
                        <button class="float-end p14 btn btn-sec-bg submit-button text-secondary-color"
                            (click)="showJson()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Schema of
                            Entity</button>
                    </div>
                </div>
                <div *ngIf="!isShowJson">
                    <p class="p16">Fields</p>
                    <div class="card w-100">

                        <ul class="list-unstyled p-3">
                            <li class="fieldBorder p-1 mb-2" *ngFor="let field of entityFieldList">

                                <input type="text" id="title" name="lname" class="m-2 py-1 px-2 fieldInput p14"
                                    value="{{field?.title}}">
                                <input type="text" id="lname" name="lname" class="m-2  py-1 px-2 fieldInput p14"
                                    value="{{field?.type}}">
                                <div class="float-end">
                                    <span class="m-2 mr-3 l12" *ngIf="field?.required">
                                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" checked>
                                        <label for="vehicle1"> &nbsp; Mandatory</label>
                                    </span>
                                    <span class="m-2 mr-3 l12" *ngIf="!field?.required">
                                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" unchecked>
                                        <label for="vehicle1"> &nbsp; Mandatory</label>
                                    </span>
                                    <!-- <input type="text" id="lname" name="lname" class="m-2  py-1 px-2 fieldInput"> -->

                                    <select name="visibility" id="visibility"
                                        class="fieldInput m-2  py-1 px-3 mr-3 p14">
                                        <option value="public"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                            Public
                                        </option>
                                        <option value="private"> <i class="fa fa-ellipsis-h " aria-hidden="true"></i>
                                            Private
                                        </option>
                                        <option value="personal"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                            Personal
                                        </option>
                                    </select>


                                    <div class="dropdown p14">
                                        <i class="fa fa-ellipsis-h m-3 text-grey-color" aria-hidden="true"></i>
                                        <div class="dropdown-content">
                                            <a href="#">View</a>
                                            <a href="#">Delete</a>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        </ul>



                        <!-- <span class="m-3 p14 mbtn-10 submit-button text-secondary-color" data-toggle="modal"
                    data-target="#addFieldModal">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    Add Field</span> -->

                        <span class="m-3 p14 mbtn-10 submit-button text-secondary-color" (click)="showAddForm()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add Field</span>
                    </div>


                </div>
                <div *ngIf="isShowJson">
                    <div class="">
                        <!-- <create-vc-template></create-vc-template> -->
                        <json-editor [options]="editorOptions" [data]="jsonFields"></json-editor>
                        <footer class="footer fixed-bottom">
                            <div class="container-fluid">
                                <div>
                                    <button
                                        class="btn text-capitalize float-end btn-primary btn-primary-sm px-3 my-2">Save</button>
                                    <button (click)="showJson()"
                                        class="btn btn-sec-bg float-end submit-button px-3 my-2">Cancel</button>

                                </div>
                            </div>
                        </footer>

                        <!-- <json-editor [options]="editorOptions" style="min-height: 700px;" [data]="jsonFields"
                      [(ngModel)]="jsonFields"></json-editor> -->
                    </div>
                </div>
            </div>

            <div class="p-3" *ngIf="active0 && !entityFieldList.length">
                <p class="p16 fw-bold"> No schema added yet.</p>
                <p class="p14">Please add entity level schema. You can also add common schema example address, field
                    name and field name which can be used or references in other schemas.</p>

            </div>

            <div *ngIf="active1">
                <config-workflow></config-workflow>
            </div>



            <div *ngIf="active2">
                <create-vc-template></create-vc-template>
            </div>

            <div *ngIf="active3">
                <ownership></ownership>
            </div>

        </div>


    </div>


    <div *ngIf="isAddFormPg" class="p-5">
        <add-field-form [jsonSchema]="entityFieldList" (newItemEvent)="jsonSchemaData($event)"
            (backEvent)="goBackEvent($event)"></add-field-form>
    </div>


    <!-- Modal Start : Save Entity Name -->
    <div class="modal right fade" id="addEntity" tabindex="-1" role="dialog" aria-labelledby="addEntity">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header pt-4 border-0">
                    <h3 class="heading-5">Add Entity</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="container mt-1">
                    <div class="mb-3">
                        <span class="l12 fw-bold">Enter Entity Name</span>
                        <input [(ngModel)]="entityName" class="w-100 input-field modal-input-field p14 p-2 inputField"
                            placeholder="Enter Entity name" type="text" />
                    </div>

                    <div class="mt-2">
                        <span class="l12 fw-bold">Enter Description<span class="text-muted"> (optional)</span></span>
                        <textarea [(ngModel)]="description"
                            class="w-100 desc input-field modal-input-field p14 pl-3 inputField"></textarea>
                        <span class="l12 text-grey-color">Description about the entity</span>
                    </div>


                    <div class="mt-4">
                        <button data-dismiss="modal" aria-label="Close"
                            class="btn text-capitalize float-end btn-primary btn-primary-sm p1"
                            (click)="createEntity($event)">Save</button>
                        <!-- <button class="close" data-dismiss="modal" aria-label="Close"
                        class="btn text-capitalize float-end btn-primary btn-primary-sm p1 sb-text-primary mr-2 bg-none">Cancel</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer fixed-bottom">
        <div class="container-fluid">
            <div>

                <button (click)="nextStep()"
                    class="btn text-capitalize float-end btn-primary btn-primary-sm px-3 my-2">Save and Next</button>
                <button *ngIf="active1"
                    class="btn btn-sec-bg float-end submit-button px-3 my-2 ml-2 mr-2 ">Skip</button> &nbsp;
                <button *ngIf="active2 || active3"
                    class="btn  float-end btn-primary btn-primary-sm px-3 my-2 ml-2 mr-2">Save as Draft</button> &nbsp;

            </div>
        </div>
    </footer>
</div>
<!-- Modal End : Save Entity Name -->
