.wrapper .sidebar ul li a {
  padding: 13px 14px;
  margin-left: 18px;
  border-right: unset;
  height: 52px;  
}

.modal-dialog-field {
  max-width: 998px !important;
  margin: 0.75rem auto !important;
}

#stepList .active {
  color: var(--textColor) !important;
}

#stepList li {
  list-style-type: none;
  width: 25%;
  float: left;
}

#menu {
  overflow: hidden;
  color:  var(--stepList) !important;
}

#menu .active {
  color: var(--textColor) !important;
}

.activeTab {
  color: #080808;
}

.activeMenu {
  background:  var(--greyColorFour) !important;
}

.table td {
  padding: 7px 0 0 0 !important;
}

@media (max-width: 768px) {
  .wrapper .sidebar {
    height: 340px;
  }

  #stepList {
    li {
      font-size: 8px;
    }
  }
}


