.templateThumb {
  border: 1px solid #d7d5d5;
  box-sizing: border-box;
}
.img-hold {
  display: flex;
  gap: 15px;
}
@media (max-width: 768px) {
  .templateThumb {
    width: 90px;
    height: 105px;
  }
  .Add-set {
    margin-bottom: 80px;
  }
  .img-hold {
    display: flex;
    gap: 5px;
  }
}
.thmbCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.thmbCol2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-ht {
  height: 190px;
  width: 130px;
  background-color: #ffffff;
  border: 1px solid #efefef;
}
.wrap {
  width: 130px !important;
  height: 190px !important;
  overflow: hidden;
}

.iframeCert {
  height: 430%;
  width: 325%;
  overflow: hidden;
  transform: scale(0.32, 0.3);
  transform-origin: 0 0;
}
