.templateThumb {
    //border: 2px solid #1987B6;
    border: 1px solid #d7d5d5;
    box-sizing: border-box;
    // margin: 4px 0 2px 2px;
}
.img-hold{
    display: flex;
    gap: 15px;
}


@media (max-width:768px) {
    .templateThumb{
        width: 90px;
        height: 105px;
    }
    .Add-set{
        margin-bottom: 80px;
    }
    .img-hold{
        display: flex;
        gap: 5px;
    }
}

.thmbCol{
    flex-direction: column;
}
