<div id="content" class=" px-4 lh-base">


  <div>
    <p class="p16 fw-bold">Issuance VC</p>
    <div class="card w-100">
      <div class="ml-1 p-3 w-100 row">
        <img *ngFor="let item of thumbnailItems" height="190px" width="130px" class="templateThumb mr-5 col-md-2 col-4" src="{{item?.thumbnailUrl}}" />
        <div class="l12 fw-bold">Volunteering Certificate</div>
      </div>
      <div class="pt-2 ms-3 mb-3">
        <!-- <button class=" p14 btn btn-sec-bg submit-button text-secondary-color" href="/add-template"><i class="fa fa-plus"
            aria-hidden="true"></i> Add Template</button> -->
            <a href="/add-template" class="p14 btn btn-sec-bg submit-button text-secondary-color"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Add Template</a>
      </div>
    </div>
    
  </div>


  <div class="mt-4">
    <p class="p16 fw-bold">Attestation VC</p>
    <p class="p16 fw-bold">Select the workflow name (thats previous screen) -> template</p>
  </div>
  <div class="card Add-set">
    <div class="m-3 ">
      <button class=" p14 btn btn-sec-bg submit-button text-secondary-color"><i class="fa fa-plus"     aria-hidden="true"></i> &nbsp;
        Add Template</button>
    </div>
  </div>


</div>