



    <div id="content" class="pl-5 py-5 lh-base">
     
        <h3 class="fw-bold mb-4">Tenant Configuration Name 1</h3>

        <p class="fw-bold mb-4">Entity</p>


        <div class="d-flex flex-row row mb-3">
            <div class="card p-4 col-sm-2 mr-2">
                <p class="p16 mb-1 font-600">Facility Center</p>
                <h2 class="font-600">0</h2>
                <p class="p12 mb-1">RECORD</p>
                <a class="my-2 fs-14 btn btn-sec-bg submit-button align-self-start">View/Add</a>
            </div>

            <div class="card p-4 col-sm-2 mr-2">
                <p class="p16 mb-1 font-600">Doctors</p>
                <h2 class="font-600">0</h2>
                <p class="p12 mb-1">RECORD</p>
                <a class="my-2 fs-14 btn btn-sec-bg submit-button align-self-start">View/Add</a>
            </div>

            <div class="card p-4 col-sm-2 mr-2">
                <p class="p16 mb-1 font-600">Beneficiary</p>
                <h2 class="font-600">0</h2>
                <p class="p12 mb-1">RECORD</p>
                <a class="my-2 fs-14 btn btn-sec-bg submit-button align-self-start">View/Add</a>
            </div>

            <div class="card p-4 col-sm-2 mr-2">
                <p class="p16 mb-1 font-600">Staff</p>
                <h2 class="font-600">0</h2>
                <p class="p12 mb-1">RECORD</p>
                <a class="my-2 fs-14 btn btn-sec-bg submit-button align-self-start">View/Add</a>
            </div>
        </div>

        <p class="fw-bold mb-4">Documents(Verified Credentials)</p>

        <div class="d-flex flex-row row">
            <div class="card p-4 col-sm-2 mr-2">
                <p class="p16 mb-1 font-600">Vaccination Certificate</p>
                <h2 class="font-600">0</h2>
                <p class="p12 mb-1">RECORD</p>
                <a class="my-2 fs-14 btn btn-sec-bg submit-button align-self-start">View/Add</a>
            </div>

            <div class="card p-4 col-sm-2 mr-2">
                <p class="p16 mb-1 font-600">Proof of Experience</p>
                <h2 class="font-600">0</h2>
                <p class="p12 mb-1">RECORD</p>
                <a class="my-2 fs-14 btn btn-sec-bg submit-button align-self-start">View/Add</a>
            </div>
        </div>
    </div>


