



    <div id="content" class="pl-5 py-5 lh-base">
     
        <h3 class="fw-bold mb-4">{{'SCHEMA' | translate}}</h3>

        <p class="fw-bold mb-4">{{'ENTITY' | translate}}</p>


        <div class="d-flex flex-row row mb-3">
            <div class="card p-4 col-sm-2 mr-2">
                <p class="fs-16 mb-1 font-600">{{'FACILITY_CENTER' | translate}}</p>
                <h2 class="font-600">0</h2>
                <p class="fs-12  mb-1">{{'RECORD' | translate}}</p>
                <a class="my-2 fs-14 btn bg-color-secondary  color-sec fw-bold submit-button align-self-start">{{'VIEW_ADD' | translate}}</a>
            </div>

            <div class="card p-4 col-sm-2 mr-2">
                <p class="fs-16 mb-1 font-600">{{'DOCTORS | translate'}}</p>
                <h2 class="font-600">0</h2>
                <p class="fs-12  mb-1">{{'RECORD' | translate}}</p>
                <a class="my-2 fs-14 btn bg-color-secondary  color-sec fw-bold submit-button align-self-start">{{'VIEW_ADD' | translate}}</a>
            </div>

            <div class="card p-4 col-sm-2 mr-2">
                <p class="fs-16 mb-1 font-600">{{'BENEFICIARY' | translate}}</p>
                <h2 class="font-600">0</h2>
                <p class="fs-12  mb-1">{{'RECORD' | translate}}</p>
                <a class="my-2 fs-14 btn bg-color-secondary  color-sec fw-bold submit-button align-self-start">{{'VIEW_ADD' | translate}}</a>
            </div>

            <div class="card p-4 col-sm-2 mr-2">
                <p class="fs-16 mb-1 font-600">{{'STAFF' | translate}}</p>
                <h2 class="font-600">0</h2>
                <p class="fs-12  mb-1">{{'RECORD' | translate}}</p>
                <a class="my-2 fs-14 btn bg-color-secondary  color-sec fw-bold submit-button align-self-start">{{'VIEW_ADD' | translate}}</a>
            </div>
        </div>

        <p class="fw-bold mb-4">{{'DOCUMENTS_VC' | translate}}</p>

        <div class="d-flex flex-row row">
            <div class="card p-4 col-sm-2 mr-2">
                <p class="fs-16 mb-1 font-600">{{'VACCINATION_CERTIFICATE' | translate}}</p>
                <h2 class="font-600">0</h2>
                <p class="fs-12  mb-1">{{'RECORD' | translate}}</p>
                <a class="my-2 fs-14 btn bg-color-secondary  color-sec fw-bold submit-button align-self-start">{{'VIEW_ADD' | translate}}</a>
            </div>

            <div class="card p-4 col-sm-2 mr-2">
                <p class="fs-16 mb-1 font-600">{{'PROOF_OF_EXPERIANCE' | translate}}</p>
                <h2 class="font-600">0</h2>          
                <p class="fs-12  mb-1">{{'RECORD' | translate}}</p>
                <a class="my-2 fs-14 btn bg-color-secondary  color-sec fw-bold submit-button align-self-start">{{'VIEW_ADD' | translate}}</a>
            </div>
        </div>
    </div>


