select {
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 11px 10px;
  width: 100%;
}
.div-scroll {
  overflow-y: scroll; /* Show vertical scrollbar */
  overflow-x: scroll; /* Show horizontal scrollbar */
}
@media (min-width: 768px) {
  .h-card {
    min-height: 570px !important;
    height: auto;
  }
  .setHeight {
    height: 614px !important;
    max-height: 614px !important;
  }
}
@media (max-width: 768px) {
  .p-sm-0 {
    padding: 0 !important;
  }
}
.modal-content {
  width: 45%;
  height: 425px;
  margin: 10% 30%;
}
.box {
  float: left;
  margin-right: 10px;
}
.prevBtn {
  margin: 1px 0 -2px 20px;
  z-index: 9999;
  position: absolute;
}
.templateThumb {
  width: 120px;
  height: 172px;
  border: 1px solid #d7d5d5;
  box-sizing: border-box;
  margin: 4px 0 2px 2px;
}
