
@media (min-width: 768px) {
  .h-card {
    min-height: 570px !important;
    height: auto;
  }
  .setHeight {
    height: 614px !important;
    max-height: 614px !important;
  }
}
@media (max-width: 768px) {
  .p-sm-0 {
    padding: 0 !important;
  }
}
