.desc {
  height: 90px;
}
/* Move the textarea in front of the result */
/* Paragraphs; First Image */
p code {
  border-radius: 2px;
  background-color: #eee;
  color: #111;
}
/*  grapesjs: start*/
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}
.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}
/* grapesjs : end*/
