<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-header nav-b navbar-inverse pl-4">
       <span  *ngIf="htmlDiv" (click)="back();">
       <i class="fa fa-angle-left primary-text"></i>
       <span class="heading-2 ml-2">{{'EDIT_TEMPLATE' | translate}}</span>
       </span>
       <span *ngIf="schemaDiv" (click)="backToHtmlEditor();">
       <i class="fa fa-angle-left primary-text"></i>
       <span  class="heading-2 ml-2">{{'ADVANCE_EDITOR' | translate}}</span>
       </span>
    </nav>
 </header>
 <div class="container mt-2 bg-white py-1 px-3">
    <div>
       <div class="row d-flex mt-4 setHeight">
          <div class="preview-footer">
             <button data-toggle="modal" data-target="#prewiewProfile" class="btn text-capitalize float-end bg-color-primary text-white fw-bold  p1">{{'SAVE_DOCUMENT' | translate}}</button>
          </div>
          <div class=" p-0 setHeight border-right mtn-28">
             <div  id="htmlDiv" [hidden]="!htmlDiv">
                <div class="d-flex flex-justify-between py-1 px-4">
                   <div class="heading-2">{{'HTML' | translate}}</div>
                </div>
                <div class="mx-3">
                   <div id="gjs">
                      {{userHtml}}
                   </div>
                   <div id="blocks"></div>
                </div>
             </div>
             <div  id="schemaDiv"[hidden]="!schemaDiv">
                <div class="d-flex flex-justify-between py-1 px-4">
                   <div class="heading-2">{{'JSON_SCHEMA' | translate}}</div>
                </div>
                <advance-editor *ngIf="userJson" [jsonSchema]="userJson" (newItemEvent)="jsonSchemaData($event)"></advance-editor>
             </div>
          </div>
       </div>
       <div>
          <div class="modal right fade" id="prewiewProfile" tabindex="-1" role="dialog"
             aria-labelledby="prewiewProfile">
             <div class="modal-dialog" role="document">
                <div class="modal-content pb-2">
                   <div class="modal-header pt-4 border-0">
                      <h3 class="heading-5">{{'SAVE_DOCUMENT' | translate}}</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                         aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="container mt-4">
                      <div class="mb-4">
                         <p class="heading-4 font-700 mb-05">{{'NAME' | translate}}</p>
                         <input [(ngModel)]="templateName" class="w-100 input-field fs-14 p-3 inputField"
                         placeholder="Enter Document name" type="text" />
                      </div>
                      <div class="mt-2">
                         <p class="heading-4 font-700 mb-05">{{'DESCRIPTION' | translate}}<span
                            class="text-muted">(optional)</span></p>
                         <textarea [(ngModel)]="description"
                         class="w-100 desc py-2 input-field fs-14 pl-3 inputField"
                         placeholder="Enter description"></textarea>
                      </div>
                      <div class="mt-2">
                         <button (click)="submit()" data-dismiss="modal" aria-label="Close"
                            class="btn text-capitalize float-end bg-color-primary text-white fw-bold p1">{{'SAVE' | translate}}</button>
                         <button class="close" data-dismiss="modal" aria-label="Close"
                            class="btn text-capitalize float-end bg-color-primary text-white fw-bold p1 sb-text-primary mr-2 bg-none">{{'CANCEL' | translate}}</button>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>