<!-- <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-header nav-b navbar-inverse">
        <a class="nav-link pl-4" (click)="testAndVerify()"><i
                class="fa fa-angle-left primary-text"></i> </a>
        <span class="heading-2">{{'GO_BACK' | translate}}</span>
    </nav>
</header> -->



<!-- <div class="row m-2 h-100">
    <div class="card col-sm-4 p-2 mb-4">
        <p class="fs-5 fw-bold"> {{'ADD_SAMPLE_DATA_TO_TEST_TEMPLATE' | translate}}</p>
        <p class="fs-7">{{'NOTE_SAMPLE_DATA_FOR_TESTING_WILL_NOT_SAVED' | translate}}</p>
        <form #testForm="ngForm" (ngSubmit)="getValues()" >
            <div class="form-group">
                <label for="issuerName">{{'ISSUER_NAME' | translate}}</label>
                <input type="text" class="form-control" id="issuerName" placeholder="Issuer Name" name="issuerName" [(ngModel)]="issuerName">
            </div>
            <div class="form-group">
                <label for="beneficiaryName">{{'BENEFICIARY_NAME' | translate}}</label>
                <input type="text" class="form-control" id="beneficiaryName" placeholder="Beneficiary Name" name="beneficiaryName" [(ngModel)]="beneficiaryName">
            </div>
            <div class="form-group">
                <label for="vaccinationDate">{{'VACCINATION_DATE' | translate}}</label>
                <input type="date" class="form-control" id="vaccinationDate" name="vaccinationDate" [(ngModel)]="vaccDate">
            </div>
            <div class="form-group">
                <label for="vaccinationStatus">{{'VACCINATION_STATUS' | translate}}</label>
                <select class="custom-select" name="vaccinationStatus" [(ngModel)]="vaccStatus">
                    <option value="1">{{'FULLY_VACCINATED' | translate}}</option>
                    <option value="2">{{'PARTIALLY_VACCINATED' | translate}}</option>
                    <option value="3">{{'NOT_VACCINATED' | translate}}</option>
                  </select>
            </div>
            
            <button type="submit" class="btn bg-color-primary text-white fw-bold pl-3 pr-3" >{{'TEST' | translate}}</button>
        </form>
    </div>


    <div class="card col-sm-8 mb-4">
        <div class="p-3 mt-2">
            <div class="flex-justify-between clearfix fw-bold">
                <div class="float-left">{{'PREVIEW' | translate}}</div>
                <div class="float-right">
                    <button class="mr-2 btn bg-color-secondary  color-sec fw-bold submit-button text-secondary-color">{{'PRINT' | translate}}</button>
                    <button class="btn bg-color-secondary  color-sec fw-bold submit-button text-secondary-color">{{'VERIFY_CERTIFICATE' | translate}}</button>
                </div>
            </div>
            <div class="pt-4">
                <img [src]="linkImage" width= 100%>
            </div>
        </div>
    </div>
</div> -->



<div class="row m-2 h-100">
    <div class="card col-sm-4 p-2 mb-4">
        <p class="fs-5 fw-bold"> {{'ADD_SAMPLE_DATA_TO_TEST_TEMPLATE' | translate}}</p>
        <p class="fs-7">{{'NOTE_SAMPLE_DATA_FOR_TESTING_WILL_NOT_SAVED' | translate}}</p>
        <form #testForm="ngForm" (ngSubmit)="getValues()" >
            <div class="form-group">
                <label for="issuerName">{{'ISSUER_NAME' | translate}}</label>
                <input type="text" class="form-control" id="issuerName" placeholder="Issuer Name" name="issuerName" [(ngModel)]="issuerName">
            </div>
            <div class="form-group">
                <label for="beneficiaryName">{{'BENEFICIARY_NAME' | translate}}</label>
                <input type="text" class="form-control" id="beneficiaryName" placeholder="Beneficiary Name" name="beneficiaryName" [(ngModel)]="beneficiaryName">
            </div>
            <div class="form-group">
                <label for="vaccinationDate">{{'VACCINATION_DATE' | translate}}</label>
                <input type="date" class="form-control" id="vaccinationDate" name="vaccinationDate" [(ngModel)]="vaccDate">
            </div>
            <div class="form-group">
                <label for="vaccinationStatus">{{'VACCINATION_STATUS' | translate}}</label>
                <select class="custom-select" name="vaccinationStatus" [(ngModel)]="vaccStatus">
                    <option value="Fully Vaccinated">{{'FULLY_VACCINATED' | translate}}</option>
                    <option value="Partially Vaccinated">{{'PARTIALLY_VACCINATED' | translate}}</option>
                    <option value="Not Vaccinated">{{'NOT_VACCINATED' | translate}}</option>
                  </select>
            </div>
            <!-- {{testForm.value | json}} -->
            
            <button type="submit" class="btn bg-color-primary text-white fw-bold pl-3 pr-3" (click)="previewScreen(selectedDecType)">{{'TEST' | translate}}</button>
        </form>
    </div>





            <div class=" col-sm-8 p-sm-0" *ngIf="userHtml">
  
                <!-- <div class=" card div-scroll h-90"> -->
                    <div class="embed-responsive embed-responsive-1by1">
                        <!-- <div class="card-body w-100" [innerHtml]="userHtml | safe : 'html'"></div> -->
                    <iframe id="responsive-iframe" class="iframe-container w-100 h-100 embed-responsive-item"></iframe>

                </div>


            </div>

</div>

<!-- <form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    <button type="submit" class="btn bg-color-primary text-white fw-bold submit-button" [disabled]="!form.valid">Submit</button>
  </form> -->
