<app-header></app-header>
<!-- Sidebar  -->
<div class="wrapper mtop6 row">
    <nav id="sidebar" class="col-2">
        <ul id="sideMenu" class="list-unstyled components">
            <!-- <li class="menu" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                <a class="a-menu"routerLink="/started/get-started" (click)="openMenu('get-started')">Get Started</a>
            </li> -->
            <li class="menu" class="active-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                <a class="a-menu" routerLink="/#"><b>Dashboard</b></a>
            </li>
            <li class="menu" routerLinkActive="active-link">
                <a class="a-menu" routerLink="/a"><b>Schema</b></a>
            </li>
            <li class="menu" routerLinkActive="active-link">
                <a class="a-menu" routerLink="/a"><b>Attestation Workflow</b></a>

            </li>
            <li class="menu" routerLinkActive="active-link">
                <a class="a-menu" routerLink="/a"><b>Verifiable Credentials</b></a>
            </li>

            <li class="menu" routerLinkActive="active-link">
                <a class="a-menu" routerLink="/a"><b>Ownership</b></a>
            </li>
            <li class="menu" routerLinkActive="active-link">
                <a class="a-menu" routerLink="/a"><b>Roles</b></a>
            </li>
            <li class="menu" routerLinkActive="active-link">
                <a class="a-menu" routerLink="/a"><b>Theme</b></a>
            </li>

            <li class="menu" routerLinkActive="active-link">
                <a class="a-menu" routerLink="/#"><b>Help</b></a>
            </li>
            <li class="menu" routerLinkActive="active-link">
                <a class="a-menu" routerLink="/#"><b>Account</b></a>
            </li>

        </ul>
    </nav>

    <div class="col">
        <div *ngIf="!items.length">
            <get-started></get-started>
        </div>
        <div *ngIf="items.length"> 
            <configurations [schemaItems]="items"></configurations>
        </div>
        <!-- <div *ngIf="activeMenu === 'ownership'">
            <ownership></ownership>
        </div> -->
    </div>

</div>


<!-- <app-header></app-header>
<div class="wrapper mtop6 row">
    <nav id="sidebar" class="col-3">
        <ul id="sideMenu" class="list-unstyled components">
            <li class="menu" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
                <a class="a-menu"routerLink="/started/get-started" (click)="openMenu('get-started')">Get Started</a>
            </li>
            <li class="menu" routerLinkActive="active-link">
                <a class="a-menu" routerLink="/a">Dashboard</a>
            </li>
            <li class="menu" class="active">
                <a href="#homeSubmenu">Settings</a>
                <ul class=" list-unstyled" id="homeSubmenu">
                    <li class="menu" routerLinkActive="active-link">
                        <a class="a-menu" routerLink="/#">Workflow</a>
                    </li>
                    <li class="menu" routerLinkActive="active-link">
                        <a class="a-menu" routerLink="/setting/vc-template">VC template</a>
                    </li>
                    <li class="menu" routerLinkActive="active-link">
                        <a class="a-menu" routerLink="/setting/ownership">Ownership</a>
                    </li>
                    <li class="menu" routerLinkActive="active-link">
                        <a class="a-menu" routerLink="/setting/rules">Rules</a>
                    </li>
                    <li class="menu" routerLinkActive="active-link">
                        <a class="a-menu" routerLink="/setting/theme">Theme</a>
                    </li>
                </ul>
            </li>

            <li class="menu" routerLinkActive="active-link">
                <a class="a-menu" routerLink="/#">Help</a>
            </li>
            <li class="menu" routerLinkActive="active-link">
                <a class="a-menu" routerLink="/#">Account</a>
            </li>

        </ul>
    </nav>

    <div class="col-9">
        <div *ngIf="activeMenu === 'get-started'">
            <get-started></get-started>
        </div>
        <div *ngIf="activeMenu === 'ownership'">
            <ownership></ownership>
        </div>
    </div>

</div> -->
