@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,600&display=swap";
@import "https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";

/* Importing Bootstrap SCSS file. */

@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
:root {

  //For light colors
  --primaryColorGreen: #0098AB;
  --primaryColorBlue: #1987B6;
  --primaryColorGrey: #1B2124;
  --primaryColorBlack: #000000;
  --greyColorOne: #8D9091;
  --greyColorTwo: #CCCCCC;
  --greyColorThree: #EFEFEF;
  --greyColorFour: #F6F8FC;
  --whiteColor: #FFFFFF;
  --secondaryColorNavy: #191489;
  --secondaryColorRed: #C5292A;
  --secondaryColorYellow: #FFD965;
  --secondaryColorLightBlue: #A6D4FF;
  --secondaryColorGreen: #22B02E;
  --backgroundColorGrey: #E1E1E1;
  --lightColorbtn: #E8F3F8;
  --cardColor: #FFFFFF;
  --textColor: #000000;
  --primaryColor: #1987b6;
  --stepList: #d3d3d3;

  //for dark colors

  --darkprimaryColorGreen: #0098AB;
  --darkprimaryColorBlue: #1987B6;
  --darkprimaryColorGrey: #1B2124;
  --darkprimaryColorBlack: #000000;
  --darkgreyColorOne: #8D9091;
  --darkgreyColorTwo: #CCCCCC;
  --darkgreyColorThree: #EFEFEF;
  --darkgreyColorFour: #F6F8FC;
  --darkwhiteColor: #FFFFFF;
  --darksecondaryColorNavy: #191489;
  --darksecondaryColorRed: #C5292A;
  --darksecondaryColorYellow: #FFD965;
  --darksecondaryColorLightBlue: #A6D4FF;
  --darksecondaryColorGreen: #22B02E;
  --darklightColorbtn: #E8F3F8;
}

/****************** Body ******************/
html,
body {
  margin: 0;
  font-family: "Lato", sans-serif !important;
  color: rgb(0, 0, 0);
  background: var(--whiteColor) !important;
  height: 100%;
  box-sizing: border-box;
}


/*******************************Component Based*************************************/
//anchor check
a {
  color: #8D9091;
}
.wrap {
  width: 130px !important;
  height: 190px !important;
  overflow: hidden;
}
.templateThumb {
  border: 1px solid #d7d5d5;
  box-sizing: border-box;
}
.img-hold {
  display: flex;
  gap: 15px;
}
.desc {
  height: 90px;
}

/* Move the textarea in front of the result */
/* Paragraphs; First Image */
p code {
  border-radius: 2px;
  background-color: #eee;
  color: #111;
}

/*  grapesjs: start*/
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

.gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
}

/* grapesjs : end*/

.modal-content {
height: auto;
width: auto;
}

.box {
  float: left;
  margin-right: 10px;
}

.prevBtn {
  margin: 1px 0 -2px 20px;
  z-index: 9999;
  position: absolute;
}

.templateThumb {
  box-sizing: border-box;
  margin: 4px 0 2px 2px;
}

.text-color {
  color: var(--textColor) !important;
}

.card {
  background-color: var(--cardColor) !important;
  color: var(--textColor) !important;
}

.bg-card {
  background-color: var(--cardColor) !important;

}
//Drop downs used for most components//
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar.active {
  margin-left: 0;
  background-color: #7386D5;
}

#sidebar ul.components {
  padding: 10px 0;
}


#sidebar ul li a:hover {
  color: #7386D5;
  background: #F6F8FC;
}

.active-link {
  color: var(--primaryColorBlue) !important;
}

/* ---------------------------------------------------
   MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: 0;
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}

.card-title {
  color: var(--textColor) !important;
}


.templateThumb {
  border: 1px solid #d7d5d5;
  box-sizing: border-box;
}

.img-hold {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;

}

@media (max-width: 768px) {
  .templateThumb {
    width: 90px;
    height: 105px;
  }

  .Add-set {
    margin-bottom: 80px;
  }

  .img-hold {
    display: flex;
    gap: 5px;
  }
}

//We need thmbCol class
.thmbCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.thmbCol2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-ht {
  height: 190px;
  width: 130px;
  background-color: #ffffff;
  border: 1px solid #efefef;
}

.wrap {
  width: 130px !important;
  height: 190px !important;
  overflow: hidden;
}

.iframeCert {
  height: 430%;
  width: 325%;
  overflow: hidden;
  transform: scale(0.32, 0.3);
  transform-origin: 0 0;
}

/* Start - ngx-editor css */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-bottom: 5px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.ngx-text-editor {
  background-color: #ffffff !important;
  font-size: 14px;
}
.ngx-toolbar {
  display: none !important;
}
/* End - ngx-editor css */
.arrIcon {
  font-size: x-small;
  padding: 5px;
}
.ace-jsoneditor .ace_scroller {
  pointer-events: none !important;
}
.h-card {
  min-height: 570px !important;
  height: auto;
}
#responsive-iframe {
  height: 430%;
  width: 325%;
  overflow: hidden;
  transform: scale(0.32, 0.3);
  transform-origin: 0 0;
}

/*  Json Editor : start*/
.json-editor,
div.jsoneditor-outer,
.ace-jsoneditor,
textarea.jsoneditor-text {
  min-height: 600px !important;
  width: 100%;
}
.jsoneditor-menu {
  display: none;
}
.mt-6 {
  margin-top: 6rem !important;
}
.jsoneditor {
  height: 700px !important;
}
/*  Json Editor : end */

.btn-bg-grey {
  background-color: #CCCCCC !important;
}

/*  Advance editor: start */
.formcomponents {
  padding-right: 5px !important;
  padding-left: 15px !important;
}

/*  Advance editor: start */
.formcomponents .formcomponent {
  padding: 12px !important;
}

.btn-primary {
background-color:var(--primaryColorBlue) !important;
}

.col-form-label{
  color: #000000;
}
/*  advance editor: End */
